<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="Title">
      <img id="logo" src="../assets/favicon.ico" />
      <div>
        <button class="button" onclick="Minimize();">
          <img class="control" src="../assets/controls/minimize.png" />
        </button>
        <button class="button" onclick="ToggleMaximize();">
          <img
            class="control max"
            id="toggle"
            src="../assets/controls/maximize.png"
          />
        </button>
        <button class="button close" onclick="Close();">
          <img class="control" src="../assets/controls/close.png" />
        </button>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
