html {
  height: 98%;
  margin: 1px;
}
body {
  background: linear-gradient(
    180deg,
    rgba(134, 0, 0, 1) 0%,
    rgba(184, 86, 86, 1) 37%
  );
  -webkit-app-region: drag;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.MenuDiv {
  text-align: right;
  height: 10%;
}
.MenuControl {
  -webkit-app-region: no-drag;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}
.MenuControl :hover {
  background-color: gray;
}

.MenuImg {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.InfoDiv {
  display: flex;
  flex-direction: row;
  height: 65%;
  overflow: hidden;
  justify-content: space-around;
}

#img {
  margin: 0px 0px 0px 15px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#info {
  margin: 0px 0px 0px 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  width: 50%;
  display: grid;
}

#song {
  margin: 0px;
}

#author {
  white-space: nowrap;
}

#time {
  margin: 0;
}

.ControlDiv {
  text-align: center;
  -webkit-app-region: no-drag;
  height: 25%;
}

.ControlDiv > * {
  margin: 0px 5px 0px 5px;
}

.controls {
  width: 10%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: top;
  outline: none;
  border-radius: 50px;
}
.controls :hover {
  cursor: pointer;
}

.controls :hover {
  opacity: 0.5;
}

.controls :active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.ControlImg {
  filter: invert(1);
  width: 28px;
}

.play {
  width: 36px;
}

.thumb {
  width: 18px;
}

#progress {
  width: 100%;
  height: 5px;
  bottom: 0;
  position: absolute;
  background-color: #6a6a6a;
  margin: 0;
}

#bar {
  background-color: #ff0000;
  width: 20px;
  height: 100%;
}
