<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="index.css" />
    <title>YouTube Music</title>
  </head>
  <body>
    <div class="MenuDiv">
      <button class="MenuControl pin">
        <img class="MenuImg" src="../../assets/controls/pin.png" />
      </button>
      <button class="MenuControl min">
        <img class="MenuImg" src="../../assets/controls/mini_minimize.png" />
      </button>
      <button class="MenuControl max">
        <img class="MenuImg" src="../../assets/controls/mini_maximize.png" />
      </button>
      <button class="MenuControl close">
        <img class="MenuImg" src="../../assets/controls/mini_close.png" />
      </button>
    </div>
    <div class="InfoDiv">
      <img id="img" src="../../assets/favicon.ico" />
      <div id="info">
        <p id="song">
          Song
        </p>
        <p id="author">
          Author
        </p>
      </div>
    </div>
    <div class="ControlDiv">
      <button class="controls">
        <img
          class="ControlImg thumb down"
          src="../../assets/controls/thumb_down_outline.png"
        />
      </button>
      <button class="controls previous">
        <img class="ControlImg" src="../../assets/controls/skip_previous.png" />
      </button>
      <button class="controls playControl">
        <img
          class="ControlImg play start"
          src="../../assets/controls/start.png"
        />
      </button>
      <button class="controls next">
        <img class="ControlImg" src="../../assets/controls/skip_next.png" />
      </button>
      <button class="controls">
        <img
          class="ControlImg thumb up"
          src="../../assets/controls/thumb_up_outline.png"
        />
      </button>
    </div>
    <script src="index.js"></script>
    <script>
      document.getElementsByClassName("pin")[0].onclick = pinButton;
      document.getElementsByClassName("min")[0].onclick = minButton;
      document.getElementsByClassName("close")[0].onclick = closeButton;
      document.getElementsByClassName("max")[0].onclick = maxButton;

      document.getElementsByClassName(
        "playControl"
      )[0].onclick = playButtonClicked;
      document.getElementsByClassName("next")[0].onclick = nextButton;
      document.getElementsByClassName("previous")[0].onclick = previousButton;
      document.getElementsByClassName("up")[0].onclick = thumbUpButton;
      document.getElementsByClassName("down")[0].onclick = thumbDownButton;
    </script>
  </body>
</html>
