body {
  background-color: #444;
}

.row {
  display: flex;
  flex-direction: row;
}

#img {
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
  height: 100px;
}

#info {
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  font-size: 12px;
}

#song {
}

#author {
  margin-top: 30px;
}
